<!-- Navbar -->

<div class="navbar">
    <a routerLink="/home" class ="logo">
        <label>Antic</label> 
        <img src = "assets/images/AnticLogo.png" alt="Company Logo image">
    </a>
    <a routerLink="/" routerLinkActive="active" class="nav-tab active"> Home </a>
    <a routerLink="/dashboard" class="nav-tab"> Dashboard </a>
    <a routerLink="/settings" class="nav-tab"> Settings </a>
    <a routerLink="/rewards"  class="nav-tab"> Rewards </a>
    <a routerLink="/locator"  class="nav-tab"> Store Locator </a>
    <a routerLink="/auth" class="nav-tab"> Login </a>
</div>