
.navbar {
    display: flex;
    background-color: #c8d8e4;
    justify-content: flex-end;
    height: 20%;
    // padding: 10px 0;
    align-items: center;

    .logo{
        display: flex;
        justify-content: left;
        font-size: 4rem;
        align-items: center;
        margin-right: auto; 
        margin-left: .5rem;
        text-decoration: none;
        color: black;
        
        img{
            height: 4rem;
            width: 4.56rem;
            margin-left: .5rem;

        }

    }
    // Individual tabs
    .nav-tab {
        color: black;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 16px;
        align-items: center;
        transition: background-color 0.3s ease, color 0.3s ease;
  
        // Hover effect
        &:hover {
            background-color: #f2f2f2;
            color: black;
        }
  
        // Active tab styling
        &.active {
            background-color: #2b6777;
            color: white;
            font-weight: bold;
        }
  
        // Add a separator between tabs (optional)
        &:not(:last-child) {
            border-right: 1px solid white;
        }
    }
}