<footer>
    <div class="container">
        <div class ="logo">
            <label>Antic</label> 
            <img src = "assets/images/AnticLogo.png" alt="Company Logo image">
        </div>

        <div class= "footer-body">
            <div class= "column1">
                Who We Are
            </div>
            <div class= "column2">
         io? Et odit id harum! Quibusdam optio alias commodi facere! Assumenda, officia!
            </div>
            <div class= "column3">
          ere pariatur repellendus nihil accusamus quia ex ratione accusantium dolor minima illo dignissimos.
            </div>
            <div class= "column4">
                Get In Touch
            </div>
        </div>
    </div>

</footer>
