
<div id = "header">
    <h1>Antic Rewards</h1>
</div>

<div id="cardAndPointsSection">
    <img src = "assets/CreditCardExample.jpg" alt="Credit Card Example">
    <div id="pointsInfo">
        <p>Available points: <span id = "availablePoints">{{totalPoints}}</span></p>
        
    </div>
</div>

<div id ="middleComponents">
    <div id ="pointsVisualAndTransactionsContainer">
        <div id="earningsInformation">
            <div id="earningsVisual">
                <h2>Total Point Earnings</h2>
                <apx-chart 
                [series]="chartOptions.series" 
                [chart]="chartOptions.chart"
                [labels]="chartOptions.labels"
                [plotOptions]="chartOptions.plotOptions"
                [dataLabels]="chartOptions.dataLabels"
                [legend]="chartOptions.legend">
                </apx-chart>
            </div>

            <!-- <ul id="rewards-rates">
                <li>2% on Grocery purchases</li>
                <li>4% on Travel</li>
                <li>3% on Dining</li>
                <li>1.5% on Entertainment</li>
                <li>1% on other</li>
            </ul> -->
        </div>

        <div id="transactions">
            <h2>Point Transactions</h2>
            <ul id = transactionsList>
                <li *ngFor="let item of scheduledOutData">
                    {{item.date}} - {{item.service}} + {{item.pointsEarned}}
                </li>
                
            </ul>
        </div>
    </div>
    
    <div id = "redeemButtonContainer">
        <button id ="redeemPoints">Redeem Points</button>
    </div>
</div>
