

#header{
    text-align: center;
}

img{
    height: 10rem;
    width: auto;
}
#pointsInfo{
    text-align: center;
    vertical-align: middle;
    p{
        font-size: 2rem;
    }
}

#header h1{
    margin: 0;
    font-size: 40px;
    color: black;
    padding: 1rem;
}
button{
    text-align: center;
    background-color: #52ab98;
    border-radius: 1rem;
    box-sizing: border-box;
    border: none;
    height: 3rem;
    width: 9rem;
    font-size: 1rem;
    color: white;
}

#header p {
    font-weight: bold;
}

#middleComponents{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    
}

#earningsVisual{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border: white;
    border-style: solid;
    height: 2rem;
    width: 50rem;
    text-align: center;

    #diningPortion{
        box-sizing: border-box;
        border: yellow;
        border-style: solid;
        background-color: yellow;
    }
    #purchasesPortion{
        box-sizing: border-box;
        border: #c8d8e4;
        border-style: solid;
        background-color: #c8d8e4;
    }

    #otherPortion{
        box-sizing: border-box;
        border: greenyellow;
        border-style: solid;
        background-color: greenyellow;
    }
    #entertainmentPortion{
        box-sizing: border-box;
        border: red;
        border-style: solid;
        background-color: red;
    }
    #travelPortion{
        box-sizing: border-box;
        border: pink;
        border-style: solid;
        background-color: pink;
    }
}

#cardAndPointsSection {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#redeemButtonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}