
<div id = "header">
    <h1>Antic Rewards</h1>
</div>

<div id="cardAndPointsSection">
    <img src = "assets/CreditCardExample.jpg" alt="Credit Card Example">
    <div id="pointsInfo">
        <p>Available points: <span id = "availablePoints">xx,xxx</span></p>
        <p>Pending points: <span id = "pendingPoints">xx,xxx</span></p>
    </div>
</div>

<div id ="middleComponents">

    <div id="earningsInformation">
        <h2>Total Point Earnings Q1 2025</h2>

        <div id="earningsVisual">
            <div id="diningPortion">Dining</div>
            <div id="purchasesPortion">All purchases</div>
            <div id="otherPortion">Other</div>
        </div>
        
        <ul id="rewards-rates">
            <li>2% on all purchases</li>
            <li>4% on travel</li>
            <li>3% on dining</li>
            <li>1.5% on Uber and Lyft</li>
            <li>1% on other</li>
        </ul>
    </div>

    <div id="transactions">
        <h2>Point Transactions</h2>
        <ul>
            <li>2/19/2025 - Walmart +1000 pts</li>
            <li>2/19/2025 - Chipotle +40 pts</li>
            <li>2/20/2025 - Movie Theater +10 pts</li>
            <li>2/21/2025 - McDonalds +10 pts</li>
            <li>2/23/2025 - Costco Gas +30 pts</li>
        </ul>
    </div>
</div>

<div id = "redeemButtonContainer">
    <button id ="redeemPoints">Redeem Points</button>
</div>

