

#header{
    text-align: center;
}


#header h1{
    margin: 0;
    font-size: 40px;
    color: black;
    padding: 1rem;
}
button{
    text-align: center;
    background-color: #52ab98;
    border-radius: 1rem;
    box-sizing: border-box;
    border: none;
    height: 3rem;
    width: 9rem;
    font-size: 1rem;
    color: white;
}

#header p {
    font-weight: bold;
}

#middleComponents{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
#pointsVisualAndTransactionsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10rem;
    margin: 0;
    padding: 0;
}

#earningsVisual{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%; 
    align-items: center;
    margin: 0;
    padding: 0;
}

apx-chart{
    height: auto;
    width: 100%; 
}



#redeemButtonContainer{
    display: flex;
    align-items: center;
    justify-content: center;

}

#transactionsList{
    max-height:10rem;
    height: 100%;
    overflow-y: auto;
    width: 100%; 
}