<div class="settings-page">
    <button (click)="goBack()">Back</button>  
    <div class="security-section">
      <h2>🔐 Account Security</h2>
      <div class="security-item">
        <div class="item-header">
          <h3>Password</h3>
          <button class="btn-edit" (click)="showPasswordForm = !showPasswordForm">Change Password</button>
        </div>
        <form class="password-form" *ngIf="showPasswordForm" (ngSubmit)="updatePassword()">
          <input type="password" placeholder="Current Password" [(ngModel)]="currentPassword" name="currentPassword" required>
          <input type="password" placeholder="New Password" [(ngModel)]="newPassword" name="newPassword" required>
          <input type="password" placeholder="Confirm New Password" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" required>
        
          <div class="form-actions">
            <button type="button" class="btn-cancel" (click)="showPasswordForm = false">Cancel</button>
            <button type="submit" class="btn-save">Update Password</button>
          </div>
        </form>        
      </div>

  
      <div class="security-item">
        <h3>Active Sessions</h3>
        <div class="session-list">
          <div class="session-item" *ngFor="let session of activeSessions">
            <div class="session-info">
              <div class="device-icon">📱</div>
              <div class="device">
               {{ session.device }}
              </div>
              <button class="btn-revoke" (click)="revoke(session.id)">Revoke</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  