<div class="settings-container">
    <div class="profile">
        <label for="avatarUpload">
            <img [src]="avatarUrl" alt="Avatar" class="avatar" />
        </label>
        <input id="avatarUpload" type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;" />
        <div>
            <h2>{{ username }}</h2>
        </div>
    </div>
    <div class="settings-options">
        <button (click)="navigateTo('security')">Security & Privacy</button>
        <button (click)="navigateTo('personal-details')">Personal Details</button>
        <button (click)="navigateTo('sign-in-preferences')">Sign-in Preferences</button>
    </div>
</div>
<!-- <app-security></app-security> -->
<!-- <app-personal-details></app-personal-details> -->
<!-- <app-sign-in-preferences></app-sign-in-preferences> -->