<main>
    <div class="left-content">
        <h1 class="fade-in">The Bank You'll Love</h1>
        <p class="fade-in delay-1">
            Antic is The Mobile Bank, helping you manage your bank account
            on-the-go, track your expenses, and set aside money in real-time.
            Open yours in minutes right from your smartphone and start
            spending before your physical card arrives.
        </p>
        <button class="fade-in delay-2" routerLink="/dashboard">Open Bank Account</button>
    </div>
    <div class="right-content fade-in delay-3"></div>
</main>
