<div class="store-locator-container">
    
    <div class="search-bar">
      <mat-form-field appearance="fill" class="search-field">
        <mat-label>ZIP Code</mat-label>
        <input matInput type="text" [(ngModel)]="zipcode" placeholder="Enter ZIP Code" />
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="search-field">
        <mat-label>Address</mat-label>
        <input matInput type="text" [(ngModel)]="address" placeholder="Enter Address" />
      </mat-form-field>
  
      <button mat-raised-button color="primary" (click)="searchStores()">Search</button>
    </div>
  
    <div class="content">
      <div class="store-table">
        <table class="basic-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Address</th>
              <th>ZIP</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let store of filteredStores" (click)="onRowClicked(store)">
              <td>{{ store.id }}</td>
              <td>{{ store.name }}</td>
              <td>{{ store.address }}</td>
              <td>{{ store.zip }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  
      <div id="map" class="map-container"></div>
    </div>
  </div>
  