<!-- Burndown -->
<h1>Monthly Spending Burndown</h1>

<div class="burndown-page">
    <div class="bar-numbers">
        <div class="scheduled-out">
            <div>
                Scheduled Out
            </div>
            <div class="text">
                ${{scheduledOutAmount | number:'1.2-2'}}
            </div>
        </div>
        <div class="reserve">
            <div>
                Reserve
            </div>
            <div class="text">
                ${{reserveAmount | number:'1.2-2'}}
            </div>
        </div>
        <div class="savings">
            <div>            
                Savings
            </div>
            <div class="text">
                ${{ savingsAmount | number:'1.2-2' }}
            </div>
        </div>
    </div>
    <div class="bar-chart">
        <div class="scheduled-out" [style.width.%]="scheduledOutPercentage">
            
        </div>
        <div class="reserve" [style.width.%]="reservePercentage">

        </div>
        <div class="savings" [style.width.%]="savingsPercentage">

        </div>
    </div>

    <div class="transfer burndown-button">
        <button>
            Make a Transfer
        </button>
        <button>
            Make a Payment
        </button>
    </div>

    <div class="burndown-details">
        <div class="burndown-actions burndown-button">
            <button
                (click)="switchTableMode('scheduledOut')"
                [class.active]="currentTableMode === 'scheduledOut'">
                Scheduled Out
            </button>
            <button
                (click)="switchTableMode('savings')"
                [class.active]="currentTableMode === 'savings'">
                Savings List
            </button>
        </div>

        <div class="dataTable" [ngSwitch]="currentTableMode">
            <table *ngSwitchCase="'scheduledOut'">
                <th>
                    Scheduled Out Until {{scheduledOutDate}}
                </th>
                <ng-container *ngFor="let item of scheduledOutData">
                    <tr>
                        <td>
                            {{item.date}} - {{item.service}}
                        </td>
                        <td>
                            ${{item.cost}}
                        </td>
                    </tr>
                    
                </ng-container>
            </table>
            <table *ngSwitchCase="'savings'">
                <th>
                    Savings
                </th>
                <ng-container *ngFor="let item of savingsData">
                    <tr>
                        <td>
                            {{item.date}} - {{item.description}}
                        </td>
                        <td>
                            ${{item.amount}}
                        </td>
                    </tr>
                    
                </ng-container>
            </table>
        </div>
    </div>
</div>
